<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}">
    <title>Spider Comics</title>
</head>
<body class="else">
<nav>
    <ul>
        <li><a id="link5" href="http://localhost:8080/">Home</a></li>
        <li><a id="link0" href="http://localhost:8080/showSpiders?">Spider Heros</a></li>
        <li><a id="link1" href="http://localhost:8080/showAll?">Show All Heros</a></li>
        <li><a id="link4" href="http://localhost:8080/find">Hero Finder</a></li>
    </ul>
</nav>
<div class="spiderHeros" th:each="com:${comics}">
    <span th:text="${com.title}"></span>
    <span th:text="${com.name}"></span>

</div>

</body>
</html>