<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}">
    <title>Home Page</title>
</head>
<body background="http://www.komputerswiat.pl/media/2015/124/3859465/03.jpg">
<nav>
    <ul>
        <li><a id="link0" href="http://localhost:8080/showSpiders?">Spider Heros</a></li>
        <li><a id="link1" href="http://localhost:8080/showAll?">Show All Heros</a></li>
        <li><a id="link2" href="http://localhost:8080/spiderComics?">Spiders Comics</a></li>
        <li><a id="link4" href="http://localhost:8080/find">Hero Finder</a></li>
    </ul>
</nav>
</body>
</html>